<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
   <style>
    input[type=text],input[type=password],input[type=email]{
    width:550px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color:rgba(156, 13, 13, 0.884);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;

  }
    </style>
</head>
<body>
  <footer class="bg-light text-center text-black">
    <div class="text-center p-3" style="background-color: rgba(236, 12, 12, 0.89);">
      <h1><center>Register</center></h1> 
    </div>
  </footer>
 
   <form action="" method="post">
    {% csrf_token %}
  <b> Username</b><br>
  <input type="text" name="username" ><br>
  <b> Email</b><br>
  <input type="email" name="email" ><br>
  <b> Password</b><br>
  <input type="password" name="password" ><br>
  <b> Confirm Password</b><br>
  <input type="password" name="password1" ><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

<footer class="bg-light text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(236, 12, 12, 0.89);">
     © 2023 Kims Hospital.
 
  </div>
</footer>
</body>
</html>